<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>

<div class="row">
    <div class="column1">
        <div class="card">
            <img src="https://img1.hscicdn.com/image/upload/f_auto,t_gn_f_345/lsci/db/PICTURES/CMS/328000/328058.png"
                 id="external-flamingo" crossorigin="anonymous">
            <h1>Madagamagamage Dasun Shanaka</h1>
            <p>September 09, 1991, Negombo</p>
            <ul>
                <li class="player-li">
                   <button class="btn-runs">
                       12, 715
                   </button>
                </li>
                <li class="player-li">
                    <p class="title">Allrounder</p>
                </li>
                <li class="player-li">
                    <button class="btn-wickets">
                        12
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="column2">
        <div class="card">
            <ul>
                <li><p class="profile-title">සම්පූර්ණ නම</p>
                    <p class="profile-content"><strong>දසුන් ශානක</strong></p>
                </li>
                <li><p class="profile-title">පිතිකරණ ඉරියව්ව</p>
                    <p class="profile-content"><strong>දකුණත් පිතිකරු</strong></p>
                </li>
                <li><p class="profile-title">පන්දු යවන ඉරියව්ව</p>
                    <p class="profile-content"><strong>දකුණත් මද වේග</strong></p>
                </li>
            </ul>
            <ul>
                <li><p class="profile-title">පළමු ටෙස් තරගය</p>
                    <p class="profile-content">එංගලන්තයට එරෙහිව ශ්‍රී ලංකාව ලීඩ්ස්හිදී - 2016 මැයි 19 - 21</p>
                </li>
            </ul>
            <ul>
                <li><p class="profile-title">පළමු එක්දින තරගය</p>
                    <p class="profile-content">අයර්ලන්තය එදිරිව ශ්‍රී ලංකාව ඩබ්ලින් (මලහයිඩ්) හිදී - 2016 ජූනි 16</p>
                </li>
            </ul>
            <ul>
                <li><p class="profile-title">පළමු විස්සයි විස්ස තරගය</p>
                    <p class="profile-content">ශ්‍රී ලංකාව එදිරිව පකිස්ථානය කොළඹදී (RPS) - 2015 අගෝස්තු 01</p>
                </li>
            </ul>
            <ul>
                <li>
                    <p class="profile-title">පුපුරන සුලු මැදපෙළ පිතිකරුවෙකු සහ ස්ථාවර දකුණත් මැහුම් පන්දු යවන්නෙකු වන දසුන් ශානක, සිංහල ක්‍රීඩා සමාජය සඳහා හොඳ දස්කම් දැක්වූ අවස්ථා කිහිපයකදීම ශ්‍රී ලංකාවේ විස්සයි 20 කණ්ඩායමට පිවිසියේය. මීගමුවේ ඉපිද අධ්‍යාපනය ලැබූ ශානක 2015 අගෝස්තු මාසයේදී පකිස්ථානයට එරෙහිව විස්සයි 20 ජාත්‍යන්තර තරගයට පිවිසි නමුත් ඊළඟ දේශීය සමය වන තෙක්ම ඔහු පුළුල් පිළිගැනීමක් ලබා ගත්තේ නැත. AIRA ප්‍රිමියර් විස්සයි 20 තරගයේදී සැරසන්ස් ක්‍රීඩා සමාජයට එරෙහිව අංක 4 ස්ථානයේ පන්දුවට පහර දෙමින් ශානක පන්දු 46 කදී හයේ පහර 16 ක් සමඟින් ශ‍්‍රී ලංකා ඉනිමක හයේ පහර 16 ක් වාර්තා කළේය. එය පසුගිය සතියේ ඔහුගේ ලොකුම T20 ලකුණු නොවේ. ඔහු මීට සතියකට පෙර ගාල්ල ක්‍රිකට් සමාජයට එරෙහිව පන්දු 48 කදී ලකුණු 131 ක් රැස් කළේය.නමුත් ශානකගේ පන්දුවෙන් එය සිදුවිය</p>
                </li>
            </ul>
            <ul>
                <li><p class="profile-title"><strong>ජාත්‍යන්තර පිටියේ විස්තර</strong></p>
                    <p class="profile-title">පුපුරන සුලු මැදපෙළ පිතිකරුවෙකු සහ ස්ථාවර දකුණත් මැහුම් පන්දු යවන්නෙකු වන දසුන් ශානක, සිංහල ක්‍රීඩා සමාජය සඳහා හොඳ දස්කම් දැක්වූ අවස්ථා කිහිපයකදීම ශ්‍රී ලංකාවේ විස්සයි 20 කණ්ඩායමට පිවිසියේය. මීගමුවේ ඉපිද අධ්‍යාපනය ලැබූ ශානක 2015 අගෝස්තු මාසයේදී පකිස්ථානයට එරෙහිව විස්සයි 20 ජාත්‍යන්තර තරගයට පිවිසි නමුත් ඊළඟ දේශීය සමය වන තෙක්ම ඔහු පුළුල් පිළිගැනීමක් ලබා ගත්තේ නැත. AIRA ප්‍රිමියර් විස්සයි 20 තරගයේදී සැරසන්ස් ක්‍රීඩා සමාජයට එරෙහිව අංක 4 ස්ථානයේ පන්දුවට පහර දෙමින් ශානක පන්දු 46 කදී හයේ පහර 16 ක් සමඟින් ශ‍්‍රී ලංකා ඉනිමක හයේ පහර 16 ක් වාර්තා කළේය. එය පසුගිය සතියේ ඔහුගේ ලොකුම T20 ලකුණු නොවේ. ඔහු මීට සතියකට පෙර ගාල්ල ක්‍රිකට් සමාජයට එරෙහිව පන්දු 48 කදී ලකුණු 131 ක් රැස් කළේය.නමුත් ශානකගේ පන්දුවෙන් එය සිදුවිය</p>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>