<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>අපේ කොල්ලෝ සෙවුම</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>

<div class="row">
    <div class="column1">
        <div class="card">
            <img src={{res.image_url}}
                 id="external-flamingo" crossorigin="anonymous">
            <h1>{{res['full_name_en']}}</h1>
            <p>{{res['birthday']}}</p>
            <ul>
                <li class="player-li">
                   <button class="btn-runs">
                       {{res['odi_runs']}}
                   </button>
                </li>
                <li class="player-li">
                    <p class="title">{{res['role_en']}}</p>
                </li>
                <li class="player-li">
                    <button class="btn-wickets">
                        {{res['odi_wickets']}}
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="column2">
        <div class="card">
            <ul>
                <li><p class="profile-title">සම්පූර්ණ නම</p>
                    <p class="profile-content"><strong>{{res['full_name_si']}}</strong></p>
                </li>
                <li><p class="profile-title">පිතිකරණ ඉරියව්ව</p>
                    <p class="profile-content"><strong>{{res['batting_style_si']}}</strong></p>
                </li>
                <li><p class="profile-title">පන්දු යවන ඉරියව්ව</p>
                    <p class="profile-content"><strong>{{res['bowling_style_si']}}</strong></p>
                </li>
            </ul>
            {% if res['education_si'] %}
            <ul>
                <li><p class="profile-title">පාසල</p>
                    <p class="profile-content">{{res['education_si']}}</p>
                </li>
            </ul>
            {% endif %}
            {% if res['test_debut_si'] %}
            <ul>
                <li><p class="profile-title">පළමු ටෙස් තරගය</p>
                    <p class="profile-content">{{res['test_debut_si']}}</p>
                </li>
            </ul>
            {% endif %}
            {% if res['odi_debut_si'] %}
            <ul>
                <li><p class="profile-title">පළමු එක්දින තරගය</p>
                    <p class="profile-content">{{res['odi_debut_si']}}</p>
                </li>
            </ul>
            {% endif %}
            {% if res['t20i_debut_si'] %}
            <ul>
                <li><p class="profile-title">පළමු විස්සයි විස්ස තරගය</p>
                    <p class="profile-content">{{res['t20i_debut_si']}}</p>
                </li>
            </ul>
            {% endif %}
            {% if res['biography_si'] %}
            <ul>
                <li>
                    <p class="profile-title">{{res['biography_si']}}</p>
                </li>
            </ul>
            {% endif %}
            {% if res['biography_en'] %}
            <ul>
                <li>
                    <p class="profile-title">{{res['biography_en']}}</p>
                </li>
            </ul>
            {% endif %}
            {% if res['international_carrier_si'] %}
            <ul>
                <li><p class="profile-title"><strong>ජාත්‍යන්තර පිටියේ විස්තර</strong></p>
                    <p class="profile-title">{{res['international_carrier_si']}}</p>
                </li>
            </ul>
            {% endif %}
            {% if res['international_carrier_en'] %}
            <ul>
                <li><p class="profile-title"><strong>International Carrier</strong></p>
                    <p class="profile-title">{{res['international_carrier_en']}}</p>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>